

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2")
    format("woff2");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2")
    format("woff2");
  font-weight: 900;
  font-display: swap;
}




:root {
  
  --bg: #faf8f4;
  
  --bg-button: #745a42;
  
  --bg-notice: #f3ece6;
  
  --text-color: #000;
  
  --text-primary: #614832;
  
  --text-secondary: #66615e;
  
  --text-button: #fff;
  
  --border: #e8e3dd;
  
  --acent-beidge: #ebccb2;
  
  --paw-color: #d6a57f;
  
  --acent-error: #eb2d2d;

  
  --radius-md: 12px;
  
  --shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}





*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html {
  font-family: "Pretendard", sans-serif;
  text-rendering: optimizeLegibility;
  font-synthesis: none;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;

  width: 100%;
  background-color: var(--bg);
  color: var(--text-color);
  
  line-height: 1.5;
}








h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}



p {
  margin: 0;
}



ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}



a {
  color: inherit;
  text-decoration: none;
}



img {
  display: block;
  max-width: 100%;
  border: 0;
}



button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}



input,
textarea,
select {
  margin: 0;
  font: inherit;
  color: inherit;
}



input,
textarea {
  outline: none;
}



textarea {
  resize: none;
}



table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}



address {
  font-style: normal;
}



hr {
  margin: 0;
  border: 0;
}


@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
    scroll-behavior: auto;
  }
}
