.update-info {
  display: flex;
  width: 720px;
  height: 1187px;
  padding: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-shrink: 0;
  background: #FAF8F4;
}

.update-header {
  display: flex;
  height: 159px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-shrink: 0;
}

.update-header h1 {
  width: 248px;
  height: 74px;
  flex-shrink: 0;
  color: #000;
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.update-header h3 {
 width: 128px;
height: 29px;

color: #000;
font-family: Inter;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.update-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}

.update-user {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.update-name {
display: flex;
height: 30px;
align-items: center;
gap: 20px;
align-self: stretch;
}

.update-name span {
  width: 117px;
  height: 13.864px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.update-email {
  display: flex;
  height: 30px;
  align-items: center;
  gap: 15px;
  align-self: stretch;
}

.email {
  width: 73px;
height: 14px;
color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.email-name {
    width: 298px;
height: 14px;
color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.update-password-section {
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 15px;
align-self: stretch;



}

.update-password-input {
    display: flex;
height: 32px;
padding: 21px 38.294px 18px 11px;
align-items: flex-start;
gap: 338.588px;
align-self: stretch;

border-radius: 12px;
border: 1px solid #E3E3E1;
background: #FFF;
}

.update-password-input input {
    width: 280px;
height: 20px;

color: #A8A7A7;
font-family: Inter;
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: normal;
}