@import url("https://googleapis.com");

/* Poppins 정의 */

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2")
    format("woff2");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2")
    format("woff2");
  font-weight: 900;
  font-display: swap;
}

/* Pretendard 정의 */

/* css 기본변수 */
:root {
  /* 모든 화면 배경색 */
  --bg: #faf8f4;
  /* 큰 버튼 배경색 - 짙은 브라운*/
  --bg-button: #745a42;
  /* 장바구니 주문요약, 반품 안내, 결제 후 적립예정 알림 - 연한 베이지*/
  --bg-notice: #f3ece6;
  /* 기본 텍스트 색 - 검정색 */
  --text-color: #000;
  /* 색을 준 포인트 글자색 - 짙은 갈색 */
  --text-primary: #614832;
  /* 그다지 중요하지 않은 이용약관, 옵션, 안내메세지 전용 - 짙은 회색 */
  --text-secondary: #66615e;
  /* 버튼 글자색 - 하얀색 */
  --text-button: #fff;
  /* 경계선색 - 연한 회색 */
  --border: #e8e3dd;
  /* 발바닥 svg,  취소 버튼, 관심 상품 등록 버튼 등에 쓰이는 포인트색 - 코랄 빛이 섞인 베이지색*/
  --acent-beidge: #ebccb2;

  /* border-radius 기본 스타일 */
  --radius-md: 12px;
  /* box-shadow 기본 스타일 */
  --shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}

/* Reset CSS */

/* 모든 요소 기본 여백 및 박스 크기 초기화 */

*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 문서 기본 스타일 */

html {
  font-family: "Pretendard", sans-serif;
  text-rendering: optimizeLegibility;
  font-synthesis: none;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background: linear-gradient(135deg, #f3f0ec, #f3ece2);
  line-height: 1.5;
}

main {
  min-height: 100svh;
  max-width: 1350px;
  margin: 0 auto;

  background: var(--bg);
  color: var(--text-color);
}
/* 제목 기본 스타일 초기화 */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

/* 문단 */

p {
  margin: 0;
}

/* 목록 */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* 링크 */

a {
  color: inherit;
  text-decoration: none;
}

/* 이미지 */

img {
  display: block;
  max-width: 100%;
  border: 0;
}

/* 버튼 */

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

/* 폼 요소 */

input,
textarea,
select {
  margin: 0;
  font: inherit;
  color: inherit;
}

/* 입력창 */

input,
textarea {
  outline: none;
}

/* 크기 조절 */

textarea {
  resize: none;
}

/* 테이블 */

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

/* 주소 */

address {
  font-style: normal;
}

/* 수평선 */

hr {
  margin: 0;
  border: 0;
}

/* 사이트 전체에 한 번만 선언 */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
    scroll-behavior: auto;
  }
}
